body{
    height: 100vh;
    font-family: "Be Vietnam Pro";
    margin: 0;
    padding: 0;

}
.container{
    margin: 0 auto;
    width: 640px;
    background-image: url('background@2x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
}

.info{
    text-align: center;
    font-family: "Be Vietnam Pro";
}

.info h2{
    font-size: 42px;
}

.info p{
    font-size: 18px;
}

.form-container{
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF33;
}

label p{
    font-size: 16px;
    margin-left: 5px;
}

label input , label select{
    width: 610px;
    height: 60px;
    border-radius: 15px;
    border: none;
    margin-top: -15px;
    font-size: 16px;
    padding-left: 10px;
}

label input:focus{
    outline: none;
}

label input::placeholder, label select::placeholder{
    color: black;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

#message input{
    height: 200px;
    margin-bottom: 20px;
}

#company-size select:focus, #subject select:focus{
    outline: none;
}

.btn{
    width: 620px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: #4036A9;
    font-size: 20px;
    font-weight: bold;
    transition: 1s ease-in-out;
}

.btn:hover{
    color: white;
    background-color: #4036A9;
}

@media(min-width: 800px){
    .container{
        width: 100%;
        background-image: url('background.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        margin-left: -1200px;
    }

    .info{
        width: 600px;       
    }

    .info h2{
        font-size: 4rem;
    }

    .info p{
        font-size: 32px;
    }

    .form-container{
        width: 55%;
    }

    .personal-info, .company-info{
        display: flex;
        margin-left: 20px;
    }

    .personal-info input , label select{
    width: 320px;
    height: 60px;
    border-radius: 15px;
    border: none;
    margin-top: -15px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 30px;
    }

    .message{
        margin-left: 20px;
    }

    .message input{
        width: 700px;
    }

    .btn{
        width: 700px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

